body{
    background-color: rgba(237, 237, 234, 0.816);
    font-family: 'Poppins', sans-serif;
}

/*.container{
    background-image: url(download.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 360px 200px;
    width: 360px;
    height: 200px;
   padding: 33px;
    text-align: center;
    margin-left: 33%;
    margin-top: 5px;
    filter: brightness(100%);
    filter: contrast(1.85);
    
}*/
.container{
    background-image: url(wp7881177.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    width: 360px;
    padding: 33px;
    text-align: center;
    background-color: #e4c721;
    margin-left: 33%;
    margin-top: 5px;
 }

.inputs input{
   padding: 8px;
   border: 2px solid black;
   border-radius: 6px;
   outline: none;
   font-size: 16px;
   padding-right: 30px;
   
}

.inputs button{
    background-color: black;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: white;
    color: black;
}

input:hover{
    background-color: rgb(242, 236, 236);
}




.text ul{
    position: relative;
    
    background-color: rgb(120, 116, 116);
    color: white;
    font-size: 16px;
    padding: 5px;
    text-align: left;
    font-style: italic;
 }
 .text ul i{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
 }
h1{
    
    font-family: 'Poppins', sans-serif;
    font-weight: 800%;
   color: rgb(255, 255, 255);
    font-variant: small-caps;
}
    

